{% extends "forms/form.html"%}


{% block meta_title %}Видалення Студента{% endblock meta_title %}

{% block title %}<h2>Видалення Студента</h2>{% endblock title %}

{% block content %}	
	{% if students %}
		<form action="{% url 'students_delete' %}" method="post">
			{% csrf_token %}		
			<p>Ви дійсно хочете видалити наступних студентів?</p>
			{% for student in students %}
				<p>{{ student.first_name}} {{ student.last_name }}</p>
			{% endfor %}
			<input type="submit" value="Так" name="delete_button" class="btn btn-danger"/></br></br>
		</form>
	{% else %}
		<p>Жодного студента не вибрано!</p>
	{% endif %}
	<br>
{% endblock content %}