{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">

	<head>
		<meta charset="UTF-8"/>
		<title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock meta_title %}</title>
		<meta name="description" value="Система Обліку Студентів Навчального Закладу"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Include Styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}">
		{% block extra_css %}{% endblock extra_css %}
		
	</head>

	<body>

		<!-- Start Container -->
		<div class="container">

			<!-- Start Header -->
			<div class="row" id="header">

				<!-- Logo -->
				<div class="col-xs-8">
					{% block logo_title %}<h1>Сервіс Обліку Студентів</h1>{% endblock logo_title %}
				</div>

				<!-- Group Selector -->
				<div class="col-xs-4" id="group-selector">
					<strong>Група:</strong>

					<select>
						<option value="">Усі групи</option>
						<option value="">Мтм - 21б Віталій Федосеев (№ 254)</option>
						<option value="">Мтм - 21б Олена Федосеева (№ 255)</option>
					</select>					
				</div>
			</div>
			<!-- End Header -->


			{% block menu %}
			<!-- Start SubHeader -->
			<div class="row" id="sub-header">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" role="tablist">	
					
						{% url 'home' as home_url %}					
						<li role="presentation" {% if request.path == home_url %} class="active" {% endif %}>
							<a href="{{ home_url }}?order_by=last_name">Студенти</a>
						</li>
						
						{% url 'journals' as journal_url %}
						<li role="presentation" {% if journal_url in request.path %} class="active" {% endif %}>
							<a href="{{ journal_url }}">Відвідування</a>
						</li>
						
						{% url 'groups' as group_url %}
						<li role="presentation" {% if group_url in request.path %} class="active" {% endif %}>
							<a href="{{ group_url }}?order_by=title">Групи</a>
						</li>
						
						{% url 'exams' as exam_url %}
						<li role="presentation" {% if exam_url in request.path %} class="active" {% endif %}>
							<a href="{{ exam_url }}?order_by=exam_name">Іспити</a>
						</li>

					</ul>
					
				</div>
			</div>
			<!-- End SubHeader -->
			{% endblock menu %}


			<!-- Start Content Columns -->
			<div class="row" id="content-columns">
				<div class="col-xs-12" id="content-column">	
			
					<!-- Start Status Message content -->
					{% block status_message %}
						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-warning" role="alert">{{ message }}</div>
							{% endfor %}
						{% endif %}
					{% endblock status_message %}
					<!-- End Status Message content -->
					
					<h2>{% block title %}{% endblock title %}</h2>
					{% block content %}{% endblock content %}
				</div>
			</div>
			<!-- End Content Columns -->
			
			
			{% block footer %}
			<!-- Start Footer -->
			<div class="row" id="footer">
				<div class="col-xs-12">
					&copy; 2014 Сервіс Обліку Студентів
				</div>
			</div>
			<!-- End Footer -->
			{% endblock footer %}
			
			
		</div>
		<!-- End Container -->		


		<!-- Javascripts Section -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		{% block extra_js %}{% endblock extra_js %}
	</body>

</html>
