{% extends "students/base.html"%}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}
	<div>
		<div class="col-xs-10">	
			<h2>База Іспитів</h2>
		</div>		
	</div>	
{% endblock title %}

{% block content %}				
	<div class="col-xs-12" id="content-columns">
		<!-- Start Exam Listing -->
		<div>
			<table class="table table-hover table-striped">
				{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
				<thead>
				<tr>
					<th>
						<a href="{% url 'exams' %}?order_by=pk{% if order_by == 'pk' and reverse != '1' %}&amp;reverse=1{% endif %}">
						№
						{% if order_by == 'pk' and reverse != '1' %}
							&uarr;
						{% elif order_by == 'pk' and reverse == '1' %}
							&darr;
						{% endif %}
						</a>
					</th>					
					<th>
						<a href="{% url 'exams' %}?order_by=exam_name{% if order_by == 'exam_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
						Назва іспиту
						{% if order_by == 'exam_name' and reverse != '1' %}
							&uarr;
						{% elif order_by == 'exam_name' and reverse == '1' %}
							&darr;
						{% endif %}
						</a>
					</th>
					<th><a href="{% url 'exams' %}?order_by=exam_date{% if order_by == 'exam_date' and reverse != '1' %}&amp;reverse=1{% endif %}">
						Дата іспиту
						{% if order_by == 'exam_date' and reverse != '1' %}
							&uarr;
						{% elif order_by == 'exam_date' and reverse == '1' %}
							&darr;
						{% endif %}
						</a>
					</th>
					<th><a href="{% url 'exams' %}?order_by=teacher_name{% if order_by == 'teacher_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
						Викладач
						{% if order_by == 'teacher_name' and reverse != '1' %}
							&uarr;
						{% elif order_by == 'teacher_name' and reverse == '1' %}
							&darr;
						{% endif %}
						</a>
					</th>
					<th>Група</th>
				</tr>
				</thead>
				{% endwith %}
				<tbody>
				{% for exam in exams %}
					<tr>
						<td>{{ exam.id }}</td>
						<td>{{ exam.exam_name }}</td>
						<td>{{ exam.exam_date }}</td>
						<td>{{ exam.teacher_name }}</td>
						<td><a href={% url 'group_result' exam.student_group.id %}>{{ exam.student_group }}</a></td>						
					</tr>
				{% endfor %}
				</tbody>
			</table>							
		</div>
		
		<!-- End Exam Listing -->
	</div>	
{% endblock content %}
		
{% block extra_js %}<script src="{{ PORTAL_URL }}{% static 'js/page_ajax.js' %}"></script>{% endblock extra_js %}
