{% extends "students/base.html"%}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block status_message %}
	{% if message_collection %}
		<div class="alert alert-danger" role="alert">Будь-ласка, виправте наступні помилки</div>
	{% endif %}
{% endblock%}

{% block title %}
	<div>
		<div class="col-xs-10">	
			<h2>База Студентів</h2>
		</div>
			
		<!-- Add Students Button -->
		<div class="col-xs-2">
			<a class="btn btn-primary" href="{% url 'students_add' %}">Додати Студента</a>	
		</div>
	</div>	
{% endblock title %}

{% block content %}				
	<form action="{% url 'students_add' %}" method="post" 
	      enctype="multipart/form-data" class="form-horizontal">		
	    {% csrf_token %}		
	    
		<div class="col-sm-12">		
			<div class="form-group {% if "first_name" in message_collection.keys %}has-error{% endif %}">					
				<label for="first_name" class="col-sm-2 control-label">Ім'я*</label>
				<div class="col-sm-4">
  					<input class="form-control" id="first_name" name="first_name" value="{{ request.POST.first_name }}" placeholder="Ім'я">  					
				</div>						
				<span class='help-block'>{% if message_collection.first_name %}{{ message_collection.first_name }}{% endif %}</span>							
			</div>						
		</div>

		<div class="col-sm-12">			
			<div class="form-group">	    			
				<label class="col-sm-2 control-label" for="middle_name">По-батькові</label>
				<div class="col-sm-4">
					<input class="form-control" id="middle_name" name="middle_name" value="{{ request.POST.middle_name }}" placeholder="По-батькові">					
				</div>    					
			</div>				
		</div>


		<div class="col-sm-12">				
			<div class="form-group {% if "last_name" in message_collection.keys %}has-error{% endif %}">				
				<label class="col-sm-2 control-label" for="last_name">Прізвище*</label>
				<div class="col-sm-4">
					<input class="form-control" id="last_name" name="last_name" value="{{ request.POST.last_name }}" placeholder="Призвище">					
				</div>    					
				<span class='help-block'>{% if message_collection.last_name %}{{ message_collection.last_name }}{% endif %}</span>
			</div>					
		</div>

		<div class="col-sm-12">
			<div class="form-group {% if "ticket" in message_collection.keys %}has-error{% endif %}">    				
				<label class="col-sm-2 control-label" for="ticket">№ Білету*</label>
				<div class="col-sm-4">
					<input class="form-control" id="ticket" name="ticket" value="{{ request.POST.ticket }}" placeholder="123">					
				</div>    				
				<span class='help-block'>{% if message_collection.ticket %}{{ message_collection.ticket }}{% endif %}</span>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group {% if "birth_day" in message_collection.keys %}has-error{% endif %}">    				
				<label class="col-sm-2 control-label" for="birth_day">Дата народження*</label>
				<div class="col-sm-4">
					<input class="form-control" id="birth_day" name="birth_day" value="{{ request.POST.birth_day }}" placeholder="1987-09-21">					
				</div>    					
				<span class='help-block'>{% if message_collection.birth_day %}{{ message_collection.birth_day }}{% endif %}</span>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group {% if "photo" in message_collection.keys %}has-error{% endif %}">    				
				<label class="col-sm-2 control-label" for="photo">Фото</label>
				<div class="col-sm-4">
					<input type="file" value="" id="photo" value="{{ request.POST.photo }}" name="photo">
				</div> 
				<span class='help-block'>{% if message_collection.photo %}{{ message_collection.photo }}{% endif %}</span>   				
			</div>
		</div>	

		<div class="col-sm-12">
			<div class="form-group {% if "student_group" in message_collection.keys %}has-error{% endif %}">    				
				<label class="col-sm-2 control-label" for="student_group">Група*</label>
				<div class="col-sm-4">
					<select class="form-control" id="student_group" name="student_group">
						<option value="">Виберіть групу</option>
						{% for group in groups %}
					 	<option value="{{ group.id }}" {% if group.id == request.POST.student_group|add:0 %}selected="1"{% endif %}>{{ group.title }}</option>							
						{% endfor %}						  
					</select>					
				</div>    	
				<span class='help-block'>{% if message_collection.student_group %}{{ message_collection.student_group }}{% endif %}</span>			
			</div>
		</div>

		<div class="col-sm-12">
			<div class="form-group">    				
				<label class="col-sm-2 control-label" for="notes">Додаткові нотатки</label>
				<div class="col-sm-4">
					<textarea class="form-control" rows="3" placeholder="нотатки" style="resize:none;" id="notes" name="notes"></textarea>
				</div>    				
			</div>
		</div>

		<div class="col-sm-12">	    			   				
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">					    	
		     		<button type="link" class="btn btn-primary btn-lg" id="add_button" name="add_button">Save</button>
		     		<button type="link" class="btn btn-primary btn-link" id="cancel_button" name="cancel_button">Cancel</button>					     	
			    </div>	
			</div>				 			
		</div>		
	</form>		
{% endblock content %}
