{% extends "students/base.html"%}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}
	<div>
		<div class="col-xs-10">	
			<h2>База Студентів</h2>
		</div>
			
		<!-- Add Students Button -->
		<div class="col-xs-2">
			<a class="btn btn-primary" href="{% url 'students_add' %}">Додати Студента</a>	
		</div>
	</div>	
{% endblock title %}

{% block content %}				
	<div class="col-xs-12" id="content-columns">
		<!-- Start Students Listing -->
		<div>
			<table class="table table-hover table-striped">
				{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
				<thead>
				<tr>
					<th>
						<a href="{% url 'home' %}?order_by=pk{% if order_by == 'pk' and reverse != '1' %}&amp;reverse=1{% endif %}">
						№
						{% if order_by == 'pk' and reverse != '1' %}
							&uarr;
						{% elif order_by == 'pk' and reverse == '1' %}
							&darr;
						{% endif %}
						</a>
					</th>
					<th>Фото</th>
					<th>
						<a href="{% url 'home' %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
						Ім'я
						{% if order_by == 'first_name' and reverse != '1' %}
							&uarr;
						{% elif order_by == 'first_name' and reverse == '1' %}
							&darr;
						{% endif %}
						</a>
					</th>
					<th><a href="{% url 'home' %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
						Призвище
						{% if order_by == 'last_name' and reverse != '1' %}
							&uarr;
						{% elif order_by == 'last_name' and reverse == '1' %}
							&darr;
						{% endif %}
						</a>
					</th>
					<th><a href="{% url 'home' %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}">
						№ Білету
						{% if order_by == 'ticket' and reverse != '1' %}
							&uarr;
						{% elif order_by == 'ticket' and reverse == '1' %}
							&darr;
						{% endif %}
						</a>
					</th>
					<th>Дії</th>
				</tr>
				</thead>
				{% endwith %}
				<tbody>
				{% for student in students %}
					<tr>
						<td>{{ student.id }}</td>
						{% if student.photo %}
							<td><img src="{{ student.photo.url }}" height="40" widht="40" class="img-circle"></td>
						{% else %}
							<td><img src="{% static 'img/default_user.png' %}" height="40" widht="40" class="img-circle"></td>
						{% endif %}
						<td><a title="Редагувати" href="{% url 'students_edit' student.id %}">{{ student.first_name }}</a></td>
						<td><a title="Редагувати" href="{% url 'students_edit' student.id %}">{{ student.last_name }}</a></td>
						<td>{{ student.ticket }}</td>
						<td>
							<div class="dropdown">
	
								<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
										Дія <span class="caret"></span>
								</button>
	
								<ul class="dropdown-menu" role="menu">
	
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="{% url 'journal_student_view' student.id %}">Відвідування</a>
									</li>
	
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="{% url 'students_edit' student.id %}">Редагувати</a>
									</li>
	
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="{% url 'students_delete' student.id %}">Видалити</a>
									</li>
	
								</ul>	
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>	
			
			
			<!-- {% include 'students/pagination.html' %} -->						
		</div>
		
		<!-- End Students Listing -->
	</div>	
{% endblock content %}
		
{% block extra_js %}<script src="{{ PORTAL_URL }}{% static 'js/page_ajax.js' %}"></script>{% endblock extra_js %}
